#test {
    color: aliceblue;
}
body {
    background: yellow;
}
div#box {
    width: 500px;
    height: 500px;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 2;
    /* text-decoration: underline; */
}

#box:focus {
    border: 1px solid aqua;
}

#box2 {
    color: blanchedalmond;
    font-size: 100px;
}
#box2:hover {
    width: 200px;
    height: 200px;
}
div#test > h1 {
    font-size: 100px;
    background-color: aqua;
    padding: 50px;
}
div#text {
    background-color: blueviolet;
}
html {
    background-color: red;
}
.a {
    background-color: orange;
    line-height: 100px;
    /* border-left: 10px solid blue; */
    /* border-right: 3px solid green; */
    border-top: 10px solid aqua;
    border-bottom: 10px solid purple;
    border-radius: 20px;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    /* padding: 20px; */
}
.a:focus {
    background: red;
}
#cont {
    position: relative;
}

#inset {
    position: absolute;
    top: 10px;
    right: 100px;
    width: 100px;
    height: 100px;
    background-color: azure;
}
#row {
    height: 50px;
    display: inline;
}
#row > span {
    width: 50px;
    height: 50px;
    background: pink;
}

/* Width of the scrollbar */
#paragraph::-webkit-scrollbar {
    width: 14px;
}

/* Background of the scrollbar track */
#paragraph::-webkit-scrollbar-track {
    background: #fafafa;
}

/* Styling the scrollbar handle (thumb) */
#paragraph::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 6px;
}

/* Hover effect on the scrollbar thumb */
#paragraph::-webkit-scrollbar-thumb:hover {
    background: #c7c7c7;
}

#paragraph::before {
    content: "HI";
}
