html {
  font-family: Comic Mono;
}

nav > a > img {
  height: 31px;
  margin-right: 7px;
  width: auto;
}

nav > a {
  font-size: 35px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
#list {
  margin-top: 100px;
  font-size: 18px;
}
main {
  margin-bottom: 100px;
}

.list {
  width: 90%;
  max-width: 900px;
  margin: auto;
}
pre {
  padding: 10px;
  border-radius: 3px;
  overflow: auto;
}

img {
  width: auto;
  max-height: 400px;
  max-width: 100%;
}

table[spreadsheet] {
  overflow: scroll;
  display: block;
  border-spacing: 0;
  background: #ccc;
  max-height: 200px;
  max-width: 800px;
}

table[spreadsheet] input {
  border: none;
  width: 130px;
  height: unset;
  background: #fff;
  color: #000;
  margin: 0;
  padding: 1px 2px;
  border-radius: 0;
  font-size: 14px;
}

table[spreadsheet] td {
  font-family: monospace;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  color: #000;
  margin: 0;
  padding: 1px;
  border: none;
  min-width: 20px;
}

table[spreadsheet] td:first-child {
  font-size: 12px;
  position: sticky;
  left: 0;
  background: #ccc;
  border-right: 2px solid #ccc;
}

table[spreadsheet] thead:first-child td:first-child {
  background: transparent;
}

[editor] {
  background: #110f15;
  padding: 10px;
  border-radius: 4px;
  max-width: 800px;
}
[editor] > iframe {
  background: #fff;
  width: 100%;
  height: 300px;
}
[editor] > div {
  display: flex;
  justify-content: space-between;
  height: 300px;
  padding-top: 10px;
}
[editor] > div > label {
  margin-bottom: 20px;
  color: #fff;
  background: #cdcdcd;
  font-family: Arial, Helvetica, sans-serif;
}
[editor] > div > label > textarea {
  background: #1c2a36;
  color: #cdcdcd;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.anchor {
  font-family: sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0;
  position: relative;
  font: 400 14px "Calibri", "Arial";
}

table * {
  position: relative;
}

table td,
table th {
  padding-left: 8px;
}

table thead tr {
  height: 30px;
  background: #4e4e4e;
  color: #fff;
  font-size: 16px;
}

table tbody tr {
  height: 30px;
  border-bottom: 1px solid #7d7d7d;
}

table tbody tr:last-child {
  border: 0;
}

table td,
table th {
  text-align: left;
}

table td.l,
table th.l {
  text-align: right;
}

table td.c,
table th.c {
  text-align: center;
}

table td.r,
table th.r {
  text-align: center;
}

tbody > tr:nth-child(2n + 1) {
  background-color: #fff;
}

tbody > tr:nth-child(2n + 2) {
  background-color: #ddd;
}
