html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background: white;
  margin: 0;
  padding: 0;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  max-width: 700px;
  height: 100%;
  background: #212121;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 700px);
  /* width: 688px; */
  min-width: 50%;
  height: 128px;
  background-color: gray;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 128px;
  /* background: red; */
  align-content: space-evenly;
  width: 688px;
  margin: auto;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.even {
  justify-content: space-evenly;
}

.button {
  width: 147px;
  height: 50px;
  background: #212121;
  border: 2px solid black;
  font-weight: 900;
}
